<div *ngIf="cart.length != 0; else noProductInCart">
    <h1>Votre panier</h1>
    <button class="btn-clear-cart" (click)="clearCart()">
        Supprimer tout le panier
    </button>
    <div class="productComponent">
        <div class="productsList">
            <div *ngFor="let item of cart" class="product">
                <div class="cartRow">

                    <div class="productContainer">
                        <div class="productPhoto">
                            <img [src]="item.product.picture" alt="">
                        </div>
                        <div class="productContent">
                            <h1 class="productName">{{item.product.name}}</h1>
                            <b>Spécifications</b>
                            <div class="productPrice">
                                {{item.product.specifications.price}}{{item.product.specifications.currency}}</div>
                            <div class="productWeight">{{item.product.specifications.weight}} </div>
                            <div class="productStorage">{{item.product.specifications.storage}} </div>
                            <div class="productColor">{{item.product.specifications.color}} </div>
                        </div>

                    </div>
                    <div class="quantity-column">
                        <b>Quantité : {{item.quantity}}</b>
                        <div class="quantity-column-action">

                            <button class="" (click)="minusQuantity(item.product.id)">
                                -
                            </button>
                            <button class="" (click)="addQuantity(item.product.id)">
                                +
                            </button>
                        </div>

                    </div>
                    <div>
                        <b>Prix : {{item.quantity*item.product.specifications.price}}
                            {{item.product.specifications.currency}}</b>
                    </div>
                    <div class="action">

                        <button class="" (click)="removeProductFromCart(item.product.id)">
                            Supprimer du panier
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <hr />
        <div class="resumeCartContainer">
            <div class="resumeCart">
                <h1>Résumé :</h1>
                <div *ngFor="let item of cart">
                    <p>{{item.quantity}} x {{item.product.name}} :
                        {{item.quantity*item.product.specifications.price}}{{item.product.specifications.currency}}</p>
                </div>
                <button>Procéder au paiement</button>
            </div>
        </div>
    </div>


</div>
<ng-template #noProductInCart>
    <h1>Votre panier est vide</h1>
    <a routerLink="/Product">Ajouter des produits</a>
</ng-template>